In [ ]:
a = [
    [0, 0, 0],
    [0, 0, 0],
    [0, 0, 0]
]

In [ ]:
for line in a:
    print(*line)

In [ ]:
c = [1, 2] * 5
c

In [ ]:
b = [[0] * 5] * 5 
b

In [ ]:
b[0][0] = 1
b

In [ ]:
a = [0, 1, 2]

In [ ]:
b = [a] * 3
b = [a, a, a]

In [ ]:
b[0][0] = 999
b

In [42]:
n = 5
m = 5

In [ ]:
table = [None] * n

for i in range(n):
    table[i] = [0] * m
    
    
table

In [41]:
[[0] * m for _ in range(n)]

[[0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0]]

In [45]:
table = [
    [0] * 5 for _ in range(5)
]

for i in range(5):
    for j in range(5):
        if i == j:
            table[i][j] = 1
        else:
            table[i][j] = i + j
print(*table,sep='\n')

[1, 1, 2, 3, 4]
[1, 1, 3, 4, 5]
[2, 3, 1, 5, 6]
[3, 4, 5, 1, 7]
[4, 5, 6, 7, 1]